doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title {{ site.name }} {% if page.title %} | {{ page.title }}  {% endif %}
    link(rel='stylesheet', href='/css/main.css')
  body
    {% include header.html %}
    #wrapper
      .container
        .row
          .col-lg-12
            {{ content }}
    {% include footer.html %}
    script(src='/js/vendor.js')
    script(src='/js/main.js')
