//- YAML
|---
|layout: default
|---
.post
  h2.post-title
    a(href='{{ page.url }}') {{ page.title }}
  .post-data
    span by
      a(href='#'){{page.author }}
      | — {{ page.date | date_to_string }}
  .post-body
    {{ content }}