
<footer class="bottom-menu bottom-menu-inverse">
  <div class="container">
    <ul id="footer-links" class="bottom-links">
      <li><a target="_blank" href="http://reactivegrid.com/">Reactive Grid</a></li>
      <li><a href="#">Support</a></li>
    </ul>
    <ul class="pull-right bottom-links">
      <li><a target="_blank" href="http://blog.reactivegrid.com/atom.xml"><i class="icon-rss"></i></a></li>
      <li><a href="mailto:hi@reactivegrid.com"><i class="icon-mail-alt"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/ReactiveGrid"><i class="icon-twitter"></i></a></li>
      <li><a target="_blank" href="https://github.com/ReactiveGrid"><i class="icon-github-circled"></i></a></li>
    </ul>
  </div>
</footer>