//-YAML
|---
|layout: default
|title: Team
|---

#team-list.media-list
  .team-member.media
    img.pull-left.media-object.img-circle(src='/img/edmt.jpg')
    .media-body
      h3.media-heading Daniel Martínez
        small  a.k.a. edmt
      p I'm the distracted guy who stumbles when walking.
        | Sometimes, the one who walks in a hurry. I try to be kind and less mistaken.
        | I like old books, combinatorial logic, tautological thoughts and oxymorons.
        | I'm invisible when nobody sees me.
        | I write idle software waiting his hardware to live.
      a(target="_blank" href='https://twitter.com/some_user_id') @some_user_id
  hr
  .team-member.media
    img.pull-right.media-object.img-circle(src='http://www.gravatar.com/avatar/519d380806da1ac8b7a3814b068956bd.png?s=150')
    .media-body
      h3.media-heading Adrian Ayala
        small  a.k.a. mostacho
      p I'm the one who lives obsessed with details and perfection.
        | Constantly daydreaming about the future.
        | I have an insatiable curiosity and a thirst for learning that does not stop,
        | so I'm always reading posts from different sources.
      a(target="_blank" href='https://twitter.com/adrrian17') @adrrian17
  hr
  .team-member.media
    img.pull-left.media-object.img-circle(src='http://gravatar.com/avatar/a4856ff08e4e12543546a748c4bd25f0?s=150')
    .media-body
      h3.media-heading Daniel Osorio
        small  a.k.a. danioso
      p I'm the one who is creative and restless. I like the details and the complexity of simplicity.
        | Usually I keep quiet and listen.
      a(target="_blank" href='https://twitter.com/danioso') @danioso
  hr
  .team-member.media
    img.pull-right.media-object.img-circle(src='http://gravatar.com/avatar/adeeddb232e1b57dc21dd0af8884a6ae?s=150')
    .media-body
      h3.media-heading Uriel Molina
        small  a.k.a. urielable
      p I'm the one who is a father, geek, biker and programmer.
        | As they say, knowledge will give you power, but character gives you respect.
        | And remember with great knowledge comes great responsibility.
      a(target="_blank" href='https://twitter.com/urielable') @urielable
  hr
  .team-member.media
    img.pull-left.media-object.img-circle(src='/img/diego.jpg')
    .media-body
      h3.media-heading Diego Agudelo
        small  a.k.a. diego
      p I don't have a bio... :(
      a(target="_blank" href='https://twitter.com/diegofdoagudelo') @diegofdoagudelo
  hr
  .team-member.media
    img.pull-right.media-object.img-circle(src='/img/santi.jpg')
    .media-body
      h3.media-heading Santiago Osorio
        small  a.k.a. santi
      p I'm the one who is skillful solving complex tasks, pragmatic and builder of apps.
        | If you don't see me doing any of this, you will find me traveling in my motorbike.
        | Move fast!
      a(target="_blank" href='https://twitter.com/sanosom') @sanosom