//-YAML
|---
|layout: default
|title: Team
|---

#team-list.media-list
  .team-member.media
    a.pull-left(href='#')
      img.media-object.img-circle(src='/img/edmt.jpg')
    .media-body
      h3.media-heading Daniel Martínez
        small  a.k.a. edmt
      p I'm the distracted guy who stumbles when walking.
        | Sometimes, the one who walks in a hurry. I try to be kind and less mistaken.
        | I like old books, combinatorial logic, tautological thoughts and oxymorons.
        | I'm invisible when nobody sees me.
        | I write idle software waiting his hardware to live
  hr
  .team-member.media
    a.pull-right(href='#')
      img.media-object.img-circle(src='http://www.gravatar.com/avatar/519d380806da1ac8b7a3814b068956bd.png?s=150')
    .media-body
      h3.media-heading Adrian Ayala
        small  a.k.a. mostacho
      p I'm the one who lives obsessed with details and perfection.
        | Constantly daydreaming about the future.
        | I have an insatiable curiosity and a thirst for learning that does not stop,
        | so I'm always reading posts from different sources.
  hr
  .team-member.media
    a.pull-left(href='#')
      img.media-object.img-circle(src='http://placehold.it/150x150')
    .media-body
      h3.media-heading Lorem Ipsum
        small  a.k.a. Lorem
      p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  hr
  .team-member.media
    a.pull-right(href='#')
      img.media-object.img-circle(src='http://placehold.it/150x150')
    .media-body
      h3.media-heading Lorem Ipsum
        small  a.k.a. Lorem
      p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  hr
  .team-member.media
    a.pull-left(href='#')
      img.media-object.img-circle(src='http://placehold.it/150x150')
    .media-body
      h3.media-heading Lorem Ipsum
        small  a.k.a. Lorem
      p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  hr
  .team-member.media
    a.pull-right(href='#')
      img.media-object.img-circle(src='http://placehold.it/150x150')
    .media-body
      h3.media-heading Lorem Ipsum
        small  a.k.a. Lorem
      p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
