#archive {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;

  ul {
    list-style: none;
    padding-left: 0;
  }

  span {
    font-family: 'Cambo', serif;
  }

  a {
    color: rgba(52, 73, 94,0.8);
  }
}
