#archive-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;

  ul {
    list-style: none;
    padding-left: 0;
  }

  span {
    font-family: 'Merriweather', serif;
    color: rgba(189, 195, 199,1.0);
  }

  a {
    font-size: 25px;
    color: rgba(45, 117, 186,1.0);

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid rgba(45, 117, 186,1.0);
    }
  }
}
