.post {
  #disqus_thread {
    a {
      color: rgba(41, 128, 185,1.0) !important;
    }
  }

  p + p {
    text-indent: 0;
    margin-top: 1rem;
  }

  pre {
    font-size: 18px;
  }

  .post-title{
    a {
      color: $body-copy-color;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .post-data {
    font-family: 'Cambo', serif;
    font-size: 20px;
    margin-bottom: 30px;

    a {
      margin: 0 5px 0 5px;
      color: $body-copy-color;
      padding-bottom: 2px;
      border-bottom: 2px solid rgba(45, 117, 186,.9);

      &:hover {
        color: rgba(45, 117, 186,.9);
        text-decoration: none;
        border-bottom: 2px solid rgba(45, 117, 186,.9);
      }
    }
  }

  .post-body {
    text-align: justify;
    font-family: 'Cambo', serif;
    font-size: 20px;

    a {
      color: $body-copy-color;
      padding-bottom: 2px;
      border-bottom: 2px solid rgba(45, 117, 186,.9);

      &:hover {
        color: rgba(45, 117, 186,.9);
        text-decoration: none;
      }
    }
  }
}
