@import url("http://fonts.googleapis.com/css?family=Maven+Pro");
@import url("http://fonts.googleapis.com/css?family=Cambo");
@import "bootstrap";
@import "flat-ui";
@import "vars-typeplate";
@import "typeplate";
@import "syntax";
@import "header";
@import "posts";
@import "archive";

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: rgba(236, 240, 241,0.1);
  @extend %normal-wrap;
  color: $body-copy-color;
}

@media (min-width: 768px) {
  #wrapper {
    margin-bottom: 150px;

    .container {
      max-width: 730px;
    }
  }
}

a:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;

  a:hover {
    color: rgba(41, 128, 185,1.0) !important;
  }
}
