footer.bottom-menu.bottom-menu-inverse
  .container
    ul.bottom-links#footer-links
      li
        a(target="_blank" href="http://reactivegrid.com/") Reactive Grid
      li
        a(href="#") Support
    ul.pull-right.bottom-links
      li
        a(target="_blank" href="http://blog.reactivegrid.com/atom.xml")
          i.icon-rss
      li
        a(href="mailto:hi@reactivegrid.com")
          i.icon-mail-alt
      li
        a(target="_blank" href="https://twitter.com/ReactiveGrid")
          i.icon-twitter
      li
        a(target="_blank" href="https://github.com/ReactiveGrid")
          i.icon-github-circled
