header
  .container
    .row
      .col-lg-12.text-center
        h1 The Reactive Grid Blog
    .row
      #menu.col-lg-12.text-center
        a(id="home" href="/") Home
        a(id="archive" href="/archive") Archive
        a(id="team" href="/team") Team
        hr
