header
  .container
    .row
      .col-lg-12.text-center
        h1 The Reactive Grid Blog
    .row
      #menu.col-lg-12.text-center
        a.active(href="/") Home
        a(href="/archive") Archive
        a(href="#") Team
        a(href="#") Contact
        hr
